@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200..700&family=Roboto+Mono&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", serif;
    /* font-family: 'Montserrat'; */
    
   
}
body{
    background-color: rgb(0, 0, 0); 
    color: white;
}

.clip-path-polygon {
    clip-path: polygon(0% 0%, 75% 0, 100% 23%, 100% 100%, 23% 100%, 0 75%); 
}

.clip-path-polygon2 {
    clip-path: polygon(10% 0, 92% 0, 100% 13%, 100% 100%, 91% 100%, 7% 100%, 0 87%, 0 0);
}



@tailwind base;
@tailwind components;
@tailwind utilities;

